[Unit]
Description=3cx-webconfig
After=network-online.target
Wants=network-online.target

[Service]
ExecStart=-/usr/sbin/3CXWizard

[Install]
WantedBy=multi-user.target
